body{
    background-image: url("images/stars4.jpg");
    background-repeat: repeat-x;
}

h1.title{
    font-family: "comic sans ms", verdana, arial, tahoma, "sans serif";
        text-shadow:5px 5px 4px #0B3084;
	font-size:110px;
	color:#FE853F;
}
#home{
    width:850px;
    min-height: 600px;
    font-size: 24px;
    font-family: "comic sans ms", verdana, arial, tahoma, "sans serif";
    padding-left: 90px;

}
.container-fluid {
    font-family: Georgia, cursive;
    margin-top: -600px;
}
    p.quote{margin: 30px 0 0 110px; text-shadow:2px 2px 2px #F6B039; }
    p.info{padding: 10px 20px 0 20px; text-shadow:2px 2px 2px #F6B039; }
    a.link{color: white}
    a:hover{color: black ;text-decoration:none; }

.panel-body{
        background-color: #1b6d85;
        border-radius:4px;
}

#label{color: whitesmoke;}